.contact-dialog[open] {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  padding: 0;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-details {
  width: 100%;
  margin-right: 2rem;
}

#contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
  height: 60vh;
  width: 60vw;

  padding: 70px;
  background-color: var(--color-white);
  border: 8px solid var(--color-blue);
  border-radius: 25px;

  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.contact-form-content {
  display: flex;
  gap: 15px;

  height: inherit;
  width: inherit;

}

.contact-close {
  display: block;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.contact-close:hover svg path {
  stroke: var(--color-dark-brighter);
}

.contact-small-screen {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 1110px) {
  .contact-form-content {
    flex-direction: column;
  }

  .contact-info .input {
    width: auto;
  }


  .contact-small-screen {
    display: unset;
  }

}