body {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.hero-content {
  display: flex;
  height: 600px;
  gap: 2rem;
  border-radius: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: min-content;
  padding: 2rem 0;
}

.hero-text-h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: .7;
  margin: 0;
}

.hero-text-under {
  font-size: 2.8rem;
}

.hero-desc {
  font-size: 18px;
  font-weight: 500;
  max-width: 70%;
  line-height: 1.25;
}

/* TODO: animate the video */
.hero-video {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.hero-video video {
  height: 130%;
}

.hostido-color-yellow {
  color: var(--color-hostido-yellow);
}

.hostido-bg-yellow {
  background-color: var(--color-hostido-yellow);
}

.hostido-color-purple {
  color: var(--color-hostido-purple);
}

.hostido-bg-purple {
  background-color: var(--color-hostido-purple);
}

.hostido-banner {
  position: relative;
  background-color: var(--color-hostido-purple);
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 3rem 0;
  border-radius: 2rem;
}

.hostido-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hostido-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 22px;
}

.hostido-text * {
  margin: 0;
}

.hostido-btn {
  font-size: 24px;
  font-weight: 700;
  padding: 6px 15px;
  border-radius: .5rem;
}

.hostido-btn:hover {
  background-color: var(--color-hostido-yellow-hover);
}

.hostido-btn:active {
  background-color: var(--color-white);
}

.hostido-disclaimer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;

  color: white;
}