:root {
  --color-dark: #1E1E1E;
  --color-dark-brighter: #4B4B4B;
  --color-dark-darker: #121212;
  --color-white: #FFFFFF;
  --color-blue: #5772FF;
  --color-blue-dark: #485CC3;
  --color-hostido-purple: #4B3A7B;
  --color-hostido-yellow: #FFCD6C;
  --color-hostido-yellow-hover: #FFE1A7;
  --color-inactive-input: #787878;
  --color-active-input: #5772FF;
  --color-btn-blue: #5772FF;
  --color-btn-blue-hover: #798EFF;
  --color-btn-blue-active: #BCC7FF;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: var(--color-dark);
}

body.stop {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

body>.content {
  margin: 0 30px;
}

body.stop>.content {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gradient-text {
  background: linear-gradient(-50deg, #1D254E 0%, #5772FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(-50deg, #1D254E 0%, #5772FF 100%);
}

.text-superbold {
  font-weight: 900;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: .5rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.logo-text {
  font-weight: 800;
  font-size: 2rem;
}

.logo-text-small {
  font-weight: 900;
  font-size: 1rem;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-white);
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  background-color: var(--color-dark);
  border: none;
  border-radius: 1rem;

  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-dark-brighter);
}

.btn:focus {
  outline: 2px solid var(--color-blue);
}

.btn:active {
  background-color: var(--color-white);
  color: var(--color-dark);
  outline: 2px solid var(--color-dark);
}

.btn-blue {
  background-color: var(--color-btn-blue);
}

.btn-blue:hover {
  background-color: var(--color-btn-blue-hover);
}

.btn-blue:active {
  background-color: var(--color-btn-blue-active);
  outline: none;
  color: var(--color-white);
}

.input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  padding: 15px;
  height: 50px;
  width: 325px;
  border: 2px solid var(--color-inactive-input);
  border-radius: 10px;
}

.input::placeholder {
  color: var(--color-inactive-input);
}

.input:focus {
  border: 2px solid var(--color-active-input);
  outline: none;
  color: var(--color-blue);

}

.texteare-resize-off {
  resize: none;
}

.textarea-fill-h {
  height: 100%;
}

.textarea-fill-w {
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  width: 100%;
  border-top: 1px solid var(--color-blue);
}