.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.paragraph {
  margin-left: 2rem;
}

.paragraph::after {
  display: block;
  content: "";
  width: 80vw;
  height: 1px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.paragraph p {
  margin-left: 2rem;
}

.paragraph a {
  color: var(--color-blue);
  font-weight: 500;
  text-decoration: none;
}

.paragraph a:hover {
  color: var(--color-btn-blue-hover);
}